<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <!--Navbar-->
      <nav class="container navbar navbar-light">
        <a class="navbar-brand" href="/">
          <img class="img-logo" src="/images/VARITY.png" />
        </a>
        <!-- Search form 
        <div class="active-cyan-4 mb-4">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>-->
        <div>
          {{#if user}}
            <a href="/post/create" style="margin-right: 20px;">Add Post</a>
            <img src="{{user.picture}}" style="border-radius: 50%; width: 30px; height: 30px">
            {{!-- <a href="/profile/{{ user._id }}">Profile</a> --}}
            <form class="form-check form-check-inline" action="/authentication/sign-out" method="POST">
              <button>Sign Out</button>
            </form>
            {{else}}
            <a href="/" style="margin-right: 20px;">Home</a>
            <a href="/post/create" style="margin-right: 20px;">Add Post</a>
            <a href="/authentication/sign-in">Sign In</a>
            <a href="/authentication/sign-up">Sign Up</a>
          {{/if}}
        </div>
      </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
